﻿@model CallDead.Common.Post

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Styles/tagify.css")" rel="stylesheet" type="text/css" />
}

<!-- Page Header -->
<div class="page-header clearfix no-gutters py-4">
    <div class="col-12 col-sm-4 float-left text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Add New Post</h3>
    </div>
</div>
<!-- End Page Header -->
@using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="card card-small mb-3">
                <div class="card-body">
                    <div class="add-new-post">
                        <fieldset class="selectPostType input-left clearfix mb-3">
                            @for (int i = 0; i < Model.Type.Count; i++)
                            {
                                <div class="custom-control  custom-radio mb-1">
                                    <input asp-for="@Model.SelectedType" value="@Model.Type[i].Id" type="radio" class="custom-control-input" id="@Model.Type[i].Value@Model.Type[i].Id" />
                                    <label asp-for="@Model.SelectedType" class="custom-control-label" for="@Model.Type[i].Value@Model.Type[i].Id">@Model.Type[i].Value</label>
                                    <input asp-for="@Model.Type[i].Id" type="hidden" />
                                    <input asp-for="@Model.Type[i].Value" type="hidden" />
                                </div>
                            }
                        </fieldset>
                        <div class="form-group mb-3 postlink-section" style="display:none;">
                            <label for="postLink">Post Link:</label>
                            <input class="form-control form-control-lg mb-3" id="postLink" type="text" placeholder="Post the link" asp-for="Link">
                        </div>
                        <div class="form-group">
                            <label for="Title">Title:</label>
                            @Html.TextBoxFor(model => model.Title, "", new { @class = "form-control form-control-lg mb-3" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group desc-section">
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="15" id="description" asp-for="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-small mb-3">
                <div class="card-body">
                    <h6 class="">Featured Image</h6>
                    <!-- Input/Button Group -->
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <input type="file" id="image" name="image" class="btn btn-white" />
                            <input type="hidden" asp-for="imageLink" class="form-control" placeholder="upload image" aria-label="upload image" aria-describedby="basic-addon2">
                        </div>
                        <div id="dvFeaturedImage" class="fet-img"></div>
                    </div>
                </div>
            </div>
            <div class="card card-small mb-3">
                <div class="card-body">
                    <h6 class=""> Meta data</h6>
                    <div class="input-group mb-3">
                        <textarea class="form-control" rows="5" id="Metadata" placeholder="Meta information" asp-for="MetaData"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class='card card-small mb-3'>
                <div class="card-header border-bottom">
                    <h6 class="m-0">Categories</h6>
                </div>
                <div class='card-body p-0'>
                    <ul class="list-group list-group-flush max-hei-sm">
                        <li class="list-group-item px-3 pb-2">
                            @for (var i = 0; i < Model.Categories.Count(); i++)
                            {
                                <div class="custom-control  custom-checkbox mb-1">
                                    @Html.HiddenFor(it => Model.Categories[i].Id)
                                    @Html.HiddenFor(it => Model.Categories[i].Value)
                                    @Html.CheckBoxFor(it => Model.Categories[i].Selected, new { @class = "custom-control-input" })
                                    @Html.LabelFor(it => Model.Categories[i].Selected, Model.Categories[i].Value, new { @class = "custom-control-label" })
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
            <div class='card card-small mb-3'>
                <div class="card-header border-bottom">
                    <h6 class="m-0">visibility</h6>
                </div>
                <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-3 pb-2">
                            @for (var i = 0; i < Model.Visibility.Count(); i++)
                            {
                                <div class="custom-control  custom-checkbox mb-1">
                                    @Html.HiddenFor(it => Model.Visibility[i].Id)
                                    @Html.HiddenFor(it => Model.Visibility[i].Value)
                                    @Html.CheckBoxFor(it => Model.Visibility[i].Selected, new { @class = "custom-control-input" })
                                    @Html.LabelFor(it => Model.Visibility[i].Selected, Model.Visibility[i].Value, new { @class = "custom-control-label" })
                                </div>
                            }
                        </li>

                    </ul>
                </div>
            </div>
            <div class='card card-small mb-3'>
                <div class="card-header border-bottom">
                    <h6 class="m-0">Tags</h6>
                </div>
                <div class='card-body p-0'>
                    <div class="col-md-12 mt-2">
                        @Html.TextBoxFor(model => model.Tags, "", new { @class = "form-control form-control-lg mb-3" })
                    </div>
                </div>
            </div>
            <div class='card card-small mb-3'>
                <div class="card-header border-bottom">
                    <h6 class="m-0">Actions</h6>
                </div>
                <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                                @Html.CheckBoxFor(m => m.IsTrending, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.IsTrending, new { @class = "custom-control-label" })
                            </div>
                            <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                                @Html.CheckBoxFor(m => m.IsActive, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.IsActive, new { @class = "custom-control-label" })
                            </div>
                            <div class="custom-control custom-toggle custom-toggle-sm mb-1">
                                @Html.CheckBoxFor(m => m.CanComment, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.CanComment, new { @class = "custom-control-label" })
                            </div>
                            <span class="d-flex mb-2">
                                <i class="material-icons mr-1">calendar_today</i>
                                <strong class="mr-1">Schedule:</strong>
                                @Html.TextBoxFor(model => model.PublishedDate, "", new { @class = "form-control form-control-lg mb-3 published-date" })
                            </span>
                            <span class="d-flex">
                                <i class="material-icons mr-1">score</i>
                                <strong class="mr-1">Date:</strong>
                                <strong class="text-warning">@Model.PostDate.ToString("dd/MM/yyyy")</strong>
                            </span>
                        </li>
                        <li class="list-group-item d-flex px-3">
                            <button class="btn btn-sm btn-outline-accent" type="submit" name="submit" value="daft">
                                <i class="material-icons">save</i> Save Draft
                            </button>
                            <button class="btn btn-sm btn-accent ml-auto" type="submit" name="submit" value="publish">
                                <i class="material-icons">file_copy</i> Publish
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @section Scripts
        {
        <script src="@Url.Content("~/Scripts/jQuery.tagify.min.js")"></script>
        <script src="@Url.Content("~/Scripts/post.create.js")"></script>
    }
}
