a{color:#ea0100;}
a:hover{color: #990000;}
.red{color: #990000;}
.form-top .form-group{float: left; margin-bottom: 0px; margin-right:10px; }
.custom-element input[type=checkbox]{}
.form-top .form-group .form-control{    float:left;    display: inline-block;    width: 150px;    margin-right: 10px;}
.form-top .input-group{float:left; width:250px; margin-right:10px; }
.pagination {    display: inline-block;}
.pagination a {    color: black;    float: left;    padding: 8px 16px;    text-decoration: none;    transition: background-color .3s;    border: 1px solid #ddd;}
.pagination a.active {    background-color: #990000;    color: white;    border: 1px solid #990000;}
.pagination a:hover:not(.active) {background-color: #ddd;}
.input-left .custom-control{float:left; margin-right:20px;  }
.max-hei-sm{height: 250px; overflow-y: scroll;}