﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"] - CallDead</title>

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.0.0" href="/styles/shards-dashboards.1.0.0.min.css">
    <link rel="stylesheet" href="/styles/extras.1.0.0.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.0.0" href="/styles/main.css">
    @RenderSection("Styles", false)
</head>
<body class="h-100">
    <div class="container-fluid">
        <div class="row">
            <!-- Main Sidebar -->
            <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
                <div class="main-navbar">
                    <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                        <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                            <div class="d-table m-auto">
                                <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="/images/shards-dashboards-logo.svg" alt="Admin Dashboard">
                                <span class="d-none d-md-inline ml-1">Admin Dashboard</span>
                            </div>
                        </a>
                        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                            <i class="material-icons">&#xE5C4;</i>
                        </a>
                    </nav>
                </div>
                <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
                    <div class="input-group input-group-seamless ml-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
                    </div>
                </form>
                <div class="nav-wrapper">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="index.html">
                                <i class="material-icons">edit</i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="components-blog-posts.html">
                                <i class="material-icons">vertical_split</i>
                                <span>Posts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="categories.html">
                                <i class="material-icons">view_module</i>
                                <span>Categories</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="ques_ans.html">
                                <i class="material-icons">table_chart</i>
                                <span>Q&A</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="user-profile-lite.html">
                                <i class="material-icons">person</i>
                                <span>User Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="errors.html">
                                <i class="material-icons">error</i>
                                <span>Errors</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
    <div class="main-navbar sticky-top bg-white clearfix">
        <!-- Main Navbar -->
        <nav class="navbar align-items-stretch navbar-light flex-md-nowrap float-right clearfix p-0">
            <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item border-right dropdown notifications">
                    <a class="nav-link nav-link-icon text-center" href="add-new-post.html" role="button" id="dropdownMenuLink" data-toggle="tooltip" title="Add Post">
                        <div class="nav-link-icon__wrapper">
                            <i class="material-icons">+</i>
                        </div>
                    </a>
                </li>
                <li class="nav-item border-right dropdown notifications">
                    <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="nav-link-icon__wrapper">
                            <i class="material-icons">&#xE7F4;</i>
                            <span class="badge badge-pill badge-danger">2</span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">
                            <div class="notification__icon-wrapper">
                                <div class="notification__icon">
                                    <i class="material-icons">&#xE6E1;</i>
                                </div>
                            </div>
                            <div class="notification__content">
                                <span class="notification__category">Analytics</span>
                                <p>
                                    Your website’s active users count increased by
                                    <span class="text-success text-semibold">28%</span> in the last week. Great job!
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="notification__icon-wrapper">
                                <div class="notification__icon">
                                    <i class="material-icons">&#xE8D1;</i>
                                </div>
                            </div>
                            <div class="notification__content">
                                <span class="notification__category">Sales</span>
                                <p>
                                    Last week your store’s sales count decreased by
                                    <span class="text-danger text-semibold">5.52%</span>. It could have been worse!
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item notification__all text-center" href="#"> View all Notifications </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle mr-2" src="/images/avatars/0.jpg" alt="User Avatar">
                        <span class="d-none d-md-inline-block">Sierra Brooks</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-small">
                        <a class="dropdown-item" href="user-profile-lite.html">
                            <i class="material-icons">&#xE7FD;</i> Profile
                        </a>
                        <a class="dropdown-item" href="components-blog-posts.html">
                            <i class="material-icons">vertical_split</i> Blog Posts
                        </a>
                        <a class="dropdown-item" href="add-new-post.html">
                            <i class="material-icons">note_add</i> Add New Post
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">
                            <i class="material-icons text-danger">&#xE879;</i> Logout
                        </a>
                    </div>
                </li>
            </ul>
            <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                    <i class="material-icons">&#xE5D2;</i>
                </a>
            </nav>
        </nav>
    </div>

    <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <div class="main-content-container container-fluid px-4">
            @RenderBody()
            <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
                <span class="copyright ml-auto my-auto mr-2">
                    Copyright © 2018 Calldead
                </span>
            </footer>
        </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>    
    <script type="text/javascript" src="/scripts/shards-dashboards.1.0.0.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
