﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Header -->
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Overview</h3>
    </div>
</div>
<!-- End Page Header -->
<!-- Small Stats Blocks -->
<div class="row">
    <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">

                        <h6 class="stats-small__value count my-3"><a href="#">Add Post</a></h6>
                    </div>

                </div>
                <canvas height="120" class="blog-overview-stats-small-1"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">

                        <h6 class="stats-small__value count my-3"><a href="#">Post Approval</a></h6>
                    </div>
                    <div class="stats-small__data">
                        <span class="stats-small__percentage red ">200 waiting</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">
                        <h6 class="stats-small__value count my-3"><a href="#">Q&A</a></h6>
                    </div>
                    <div class="stats-small__data">
                    </div>
                </div>
                <canvas height="120" class="blog-overview-stats-small-3"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">Users</span>
                        <h6 class="stats-small__value count my-3">2,413</h6>
                    </div>

                </div>
                <canvas height="120" class="blog-overview-stats-small-4"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-4 col-sm-12 mb-4">
        <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">Total Post</span>
                        <h6 class="stats-small__value count my-3">17,281</h6>
                    </div>

                </div>
                <canvas height="120" class="blog-overview-stats-small-5"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- End Small Stats Blocks -->
<div class="row">
    <!-- post Stats -->
    <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
        <div class="card card-small">
            <div class="card-header border-bottom">
                <h6 class="m-0">Post <div class="float-right"><a href="">Video</a> | <a href="">Post</a></div></h6>

            </div>
            <div class="card-body pt-0">
                <table class="table mb-0">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">#</th>
                            <th scope="col" class="border-0">Title</th>
                            <th scope="col" class="border-0">Author</th>
                            <th scope="col" class="border-0">Categories</th>
                            <th scope="col" class="border-0">Date</th>
                            <th scope="col" class="border-0">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1125</td>
                            <td>Spirit Help From Beyond</td>
                            <td>Mr.X</td>
                            <td>Talk with ghosts</td>
                            <td>2018/07/07</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>1126</td>
                            <td>Family Dinner-</td>
                            <td>Mr.User</td>
                            <td>Stories</td>
                            <td>2018/07/07</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>1127</td>
                            <td>Don’t Check Your Phone</td>
                            <td>User</td>
                            <td>	Short movie</td>
                            <td>2018/07/07</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>1128</td>
                            <td>How to Talk to Ghosts</td>
                            <td>Mr.X</td>
                            <td>Talk with ghosts</td>
                            <td>2018/07/07</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                        <tr>
                            <td>1129</td>
                            <td> Ghosts</td>
                            <td>Nithin</td>
                            <td>Talk with ghosts</td>
                            <td>2018/07/07</td>
                            <td><a href="#">Edit</a></td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <!-- End Users Stats -->
    <!-- Users By Device Stats -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card card-small h-100">
            <div class="card-header border-bottom">
                <h6 class="m-0">Users</h6>
            </div>
            <div class="card-body d-flex py-0">
                <table class="table mb-0">
                    <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">Name</th>
                            <th scope="col" class="border-0">Role</th>
                            <th scope="col" class="border-0">Post</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="">metalpoison21974</a></td>
                            <td>Subscriber</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td><a href="">Mr.X</a></td>
                            <td>Admin</td>
                            <td>95</td>
                        </tr>
                        <tr>
                            <td><a href="">normashook1998</a></td>
                            <td>Editor</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td><a href="">purplehemi1979</a></td>
                            <td>Subscriber</td>
                            <td>13</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-top">
                <div class="row">
                    <div class="col">
                        <select class="custom-select custom-select-sm" style="max-width: 130px;">
                            <option selected>Last Week</option>
                            <option value="1">Today</option>
                            <option value="2">Last Month</option>
                            <option value="3">Last Year</option>
                        </select>
                    </div>
                    <div class="col text-right view-report">
                        <a href="#">Full report &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Users By Device Stats -->
    <!-- New Draft Component -->
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <!-- Quick Post -->
        <div class="card card-small h-100">
            <div class="card-header border-bottom">
                <h6 class="m-0">New Draft</h6>
            </div>
            <div class="card-body d-flex flex-column">
                <form class="quick-post-form">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Brave New World">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Words can be like X-rays if you use them properly..."></textarea>
                    </div>
                    <div class="form-group mb-0">
                        <button type="submit" class="btn btn-accent">Create Draft</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Quick Post -->
    </div>
    <!-- End New Draft Component -->
    <!-- Discussions Component -->
    <div class="col-lg-5 col-md-12 col-sm-12 mb-4">
        <div class="card card-small blog-comments">
            <div class="card-header border-bottom">
                <h6 class="m-0">Questions</h6>
            </div>
            <div class="card-body p-0">
                <div class="blog-comments__item d-flex p-3">
                    <div class="blog-comments__avatar mr-3">
                        <img src="images/avatars/1.jpg" alt="User avatar" />
                    </div>
                    <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                            <a class="text-secondary" href="#">James Johnson</a> on
                            <a class="text-secondary" href="#">Hello World!</a>
                            <span class="text-muted">– 3 days ago</span>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">Well, the way they make shows is, they make one show ...</p>
                        <div class="blog-comments__actions">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-white">
                                    <span class="text-success">
                                        <i class="material-icons">check</i>
                                    </span> Approve
                                </button>
                                <button type="button" class="btn btn-white">
                                    <span class="text-danger">
                                        <i class="material-icons">clear</i>
                                    </span> Reject
                                </button>
                                <button type="button" class="btn btn-white">
                                    <span class="text-light">
                                        <i class="material-icons">more_vert</i>
                                    </span> Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-comments__item d-flex p-3">
                    <div class="blog-comments__avatar mr-3">
                        <img src="images/avatars/2.jpg" alt="User avatar" />
                    </div>
                    <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                            <a class="text-secondary" href="#">James Johnson</a> on
                            <a class="text-secondary" href="#">Hello World!</a>
                            <span class="text-muted">– 4 days ago</span>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">After the avalanche, it took us a week to climb out. Now...</p>
                        <div class="blog-comments__actions">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-white">
                                    <span class="text-success">
                                        <i class="material-icons">check</i>
                                        </span> Approve
                                </button>
                                <button type="button" class="btn btn-white">
                                    <span class="text-danger">
                                        <i class="material-icons">clear</i>
                                    </span> Reject
                                </button>
                                <button type="button" class="btn btn-white">
                                    <span class="text-light">
                                        <i class="material-icons">more_vert</i>
                                    </span> Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-comments__item d-flex p-3">
                    <div class="blog-comments__avatar mr-3">
                        <img src="images/avatars/3.jpg" alt="User avatar" />
                    </div>
                    <div class="blog-comments__content">
                        <div class="blog-comments__meta text-muted">
                            <a class="text-secondary" href="#">James Johnson</a> on
                            <a class="text-secondary" href="#">Hello World!</a>
                            <span class="text-muted">– 5 days ago</span>
                        </div>
                        <p class="m-0 my-1 mb-2 text-muted">My money's in that office, right? If she start giving me...</p>
                        <div class="blog-comments__actions">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-white">
                                    <span class="text-success">
                                        <i class="material-icons">check</i>
                                    </span> Approve
                                </button>
                                <button type="button" class="btn btn-white">
                                    <span class="text-danger">
                                        <i class="material-icons">clear</i>
                                    </span> Reject
                                </button>
                                <button type="button" class="btn btn-white">
                                    <span class="text-light">
                                        <i class="material-icons">more_vert</i>
                                    </span> Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer border-top">
                <div class="row">
                    <div class="col text-center view-report">
                        <button type="submit" class="btn btn-white">View All Comments</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Discussions Component -->
</div>
